{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <table>
        {% for post in posts %}
            <tr style="outline: thin solid">
                <td>{{ post.title }}<td>
                <td>{{ post.body }}<td>
                <td>{{ post.name }}<td>
                <td>
                    <form method="POST" action="{{ path('delete', { 'postId': post.id }) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                </td>
             </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
